<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name = "viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
<title>Art Decoder/Encoder </title>
</head>
<body>
<h1>first page!</h1>
<p>Single Line encoder</p>
<form action="http://localhost:8081/decoder" method="POST" enctype="application/x-www-form-urlencoded">
    <label>
    <input type="radio" name="options" value="-d">Decode</button>
    </label><br>
    <label> 
    <input type="radio" name="options" value="-e">Encode</button>
    </label> <br>
    <label for="enterTextToDecode">Enter Text:</label>
    <input type="text" id="textInput" name="textInput" required>
    <button type="decoder">Encode</button>
</form>
<p>Multiline Decoder</p>
<form action="http://localhost:8081/multi" method="POST" enctype="multipart/form-data">
    <label>    
    <input type="radio" name="options" value="-d">Decode</button>
    </label>
    <br>
    <label> 
    <input type="radio" name="options" value="-e">Encode</button>
    </label>
    <br>
    <label for="file">Select a txt file to upload:</label>
    <input type="file" id="file" name="file" accept=".txt">
    <br>
    <button type="submit">Upload</button>
</form>

<p>Encoded : {{.EncodedText}} </p>
<p>Decoded : {{.DecodedText}} </p>
<p>Status : {{.Status}} </p>
<pre>{{.FileContent}}</pre>
</body>
</html>

