<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name = "viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
<title>Art Decoder/Encoder </title>
</head>
<body>
<h1>ANSI art Decoder Encoder</h1>

</table>
<p>Single Line encoder</p>
<form id="submitSingleLineForm" action="http://localhost:8081/decoder" method="POST" enctype="application/x-www-form-urlencoded">
    <label>
    <input type="radio" name="options" value="-d">Decode</button>
    </label><br>
    <label> 
    <input type="radio" name="options" value="-e">Encode</button>
    </label> <br>
    <label for="enterTextToDecode">Enter Text:</label>
    <input type="text" id="textInput" name="textInput" required>
    <button type="decoder" >Encode/Decode</button>
</form>
<p>Multiline Decoder</p>
<form id="multiLineForm" action="http://localhost:8081/multi" method="POST" enctype="multipart/form-data">
    <label>    
    <input type="radio" name="options" value="-d">Decode</button>
    </label>
    <br>
    <label> 
    <input type="radio" name="options" value="-e">Encode</button>
    </label>
    <br>
    <label for="file">Select a txt file to upload:</label>
    <input type="file" id="file" name="file" accept=".txt">
    <br>
    <button type="submit" >Upload</button>
</form>
<div class="response-window" id="responseContainer">
    <div class="response-singleLine" id="singleLineResponse">
      <p>Encoded : {{.EncodedText}} </p>
      <p>Decoded : {{.DecodedText}} </p>
      <p>Status : <span id="singleLineStatus">{{.Status}}</span></p>
    </div>
  
    <div class="response-multiLine" id="multiLineResponse">
        <p>Status : <span id="multiLineStatus">{{.Status}}</span></p>
      <pre>{{.FileContent}}</pre>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
        var singleLineStatus = "{{.Status}}"; 
        var multiLineStatus = "{{.Status}}"; 

        if (singleLineStatus !== '') {
            toggleView('singleLineResponse');
            document.getElementById('singleLineStatus').textContent = singleLineStatus;
        } else if (multiLineStatus !== '') {
            toggleView('multiLineResponse');
            document.getElementById('multiLineStatus').textContent = multiLineStatus;
        }
    });

    function toggleView(viewId) {
        // Hide all response containers
        var responseContainers = document.querySelectorAll('.response-container');
        responseContainers.forEach(function(container) {
            container.style.display = 'none';
        });
        var selectedContainer = document.getElementById(viewId);
        if (selectedContainer) {
            selectedContainer.style.display = 'block';
        }
    }
    //TODO add functionality to download the content of the file
</script>
</body>
</html>

