body{
    font-family: Arial, sans-serif;
    background-color: burlywood;
    margin: 5px;
}
h1{
    color:aqua
}
p{
color: gray;
}

table {
    border: 1px solid blue;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
td,th {
    padding: 10px;
}
tr:hover {
    background-color: blueviolet;
}

.response-window{
    display: block;
}
.response-singleLine{
    display: none;
}
.response-multiLine{
    display: none;
}
